.chat {
    height: calc(100vh - 70px);
    display: flex;
}
.chatFriendsList {
    flex: 4;
    background-color: #f3f3f3;
}
.chatFriendsListWrapper{
    height: 100%;
    padding: 10px;
    margin-top: 20px;
}
.chatFriendsListTitle{
    padding: 10px 0px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
}
.chatPane {
    flex: 8;
}
.chatPaneWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    margin-right: 30px;
}
.chatPaneTop{
    height: 100%;
    padding-right: 10px;
    overflow-y: scroll;
}
::-webkit-scrollbar-track {
    background-color: white;
}
.chatPaneBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 30px;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
    font-size: 15px;
}
.chatSubmitButton{
    width: 90px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
  